<div class="modal  fade w3-animate-zoom" id="productInStoredDetailViewModal{{product.id}}">
  <div class="modal-dialog  modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h5 class="modal-title"><strong> information about  <code>{{product.product_name}}</code> </strong></h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="card mb-4">
          <div class="card-body">
            <!-- <h5><span>shop id</span> : <code>{{shops.id}} </code></h5> -->
            <h5><span>product name</span> : <code>{{product.product_name}} </code></h5>
            <h5><span>cost for @</span> : <code>{{product.product_cost}} </code></h5>
            <h5><span>Amount of quantity in store left</span> : <code>{{product.product_quantity}} </code></h5>
            <h5><span>total cost used</span> : <code>{{product.total_product_cost}} </code></h5>
            <h5><span>price to sell the product </span> : <code>{{product.amount_to_sold}} </code></h5>
            <h5><span>supplier full name </span> : <code>{{product.supplier_full_name}} </code></h5>
            <h5><span>product receiver full name </span> : <code>{{product.product_receiver}} </code> <span>from shop :</span> <code>{{product.shop_info}}</code></h5>
          </div>
        </div>
      </div>
      
      
      
      
      
      
      
      
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

