<div class="container-fluid" id="container-wrapper">

  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800"> Shops</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="./">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Shops</li>
    </ol>
  </div>
  
  <div class="row mb-3">
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-uppercase mb-1">Number of shops</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{get_number_of_shops}}</div>
              <div class="mt-2 mb-0 text-muted text-xs">
                <!-- <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                <span>Since last month</span> -->
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-calendar fa-2x text-primary"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Earnings (Annual) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-uppercase mb-1">last shop opened</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{get_last_opened_shops.shop_name}}</div>
              <div class="mt-2 mb-0 text-muted text-xs">
                <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> {{get_last_opened_shops.shop_region }}</span>
                <span>{{get_last_opened_shops.shop_start_date}}</span>
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-shopping-cart fa-2x text-success"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- New User Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-uppercase mb-1"> last shop opened supervisor</div>
              <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{get_last_opened_shops.shop_supervisor}}</div>
              <div class="mt-2 mb-0 text-muted text-xs">
                <span>hired Since </span> 
                <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> {{get_last_opened_shops.shop_supervisor.employee_start_date}}</span>
                
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-users fa-2x text-info"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-uppercase mb-1">supervisor contact information</div>
              <!-- <div class="h5 mb-0 font-weight-bold text-gray-800">{{get_last_opened_shops.shop_supervisor.employee_phone_number1}}</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{get_last_opened_shops.shop_supervisor.employee_phone_number2}}</div> -->
              <div class="mt-2 mb-0 text-muted text-xs">
                <span class="text-danger mr-2"><i class="fas fas fa-phone"></i> {{get_last_opened_shops.shop_supervisor.employee_phone_number1}}</span>
                <br>
                <span class="text-danger mr-2"><i class="fas fas fa-phone"></i> {{get_last_opened_shops.shop_supervisor.employee_phone_number1}}</span>
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-comments fa-2x text-warning"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>