<div class="table_section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-12 col-lg-12 mb-4">
        <div class="card">
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">My Shops</h6>
            <button type="button" class="btn  btn-outline-primary" data-toggle="modal" data-target="#shopModal"
            id="#shopModal"><i class="fas fa-plus p-1"></i>Shop</button>
          </div>
          {% if get_number_of_shops >= 0 %}
          <div class="table-responsive pl-2">
            <table class="table align-items-center table-flush table-hover" id="dataTableHover">
              <thead class="thead-light">
                <tr>
                  <th>#</th>
                  <th>Shop name</th>
                  <!-- <th>Street</th> -->
                  <th>District</th>
                  <th>Region</th>
                  <th>Surpervisor</th>
                  <!-- <th>phone no1</th> -->
                  <th>phone no1</th>
                  <!-- <th>Username</th> -->
                  <th>password</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for shops in get_all_shops %}
                <tr>
                  <td><a href="#">{{forloop.counter}}</a></td>
                  <td><a href="#">{{shops.shop_name}}</a></td>
                  <!-- <td>{{shops.shop_street}}</td> -->
                  <td>{{shops.shop_district}}</td>
                  <td>{{shops.shop_region}}</td>
                  <td>{{shops.shop_supervisor}}</td>
                  <td>{{shops.shop_supervisor.employee_phone_number1}}</td>
                  <!-- <td>{{shops.shop_supervisor.employee_phone_number2}}</td> -->
                  <td>{{shops.shop_supervisor.employee_username}}</td>
                  <!-- <td>{{shops.shop_supervisor.employee_password}}</td> -->
                  <td>
                    <a data-toggle="modal" data-target="#shopDetailViewModal{{shops.id}}" class="btn btn-sm btn-outline-primary text-primary"><i class="fas fas fa-eye"></i></a>
                    <a  data-toggle="modal" data-target="#updateShopModal{{shops.id}}"
                    class="btn btn-sm btn-outline-warning"  ><i class="fas fas fas fa-pen"></i></a>
                    <a  data-toggle="modal" data-target="#deleteShopModal" class="btn btn-sm btn-outline-danger"><i class="fas fas fas far fa-trash-alt"></i></a>
                  </td>
                </tr>
                {% include './deleteShopModal.html' %}
               {% include './shopDetailViewModal.html' %}
               {% include './updateShopModal.html' %}
              {% endfor %}
          
              </tbody>
            </table>
          </div>
          {% else %}
          <div class="table-responsive pl-2">
            <div class="empty_content">
              <p> No shops added yet! </p>
            </div>
          </div>
          {% endif %}
          <div class="card-footer"></div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include './shopModal.html' %}