<div class="modal  fade w3-animate-zoom" id="suppliersDetailViewModal{{suppliers.id}}">
  <div class="modal-dialog  modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h5 class="modal-title"><strong> information about supplier</strong> <code>{{suppliers.supplier_full_name}}</code></h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="card mb-4">
          <div class="card-body">
            <!-- <h5><span>shop id</span> : <code>{{shops.id}} </code></h5> -->
            <h5>{{suppliers.id}}</h5>
            <h5><span>supplier full name</span> : <code>{{suppliers.supplier_full_name}} </code></h5>
            <h5><span>gender  </span> : <code>{{suppliers.gender}} </code></h5>
            <h5><span>phone number  </span> : <code>{{suppliers.supplier_phone_number}} </code></h5>
            <h5><span>distributed since  </span> : <code>{{suppliers.created_at}} </code></h5>
            <h5><span>product Supply  </span> : <code>{{suppliers.product_name}} </code></h5>
          </div>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

