<!-- The Modal -->
<div class="modal  fade w3-animate-zoom" id="updateproductSoldModal{{product_sold.id}}">
  <div class="modal-dialog  modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title"><strong>update sales no {{forloop.counter}} </strong></h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="card mb-4">
          <!-- <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Form Basic</h6>
          </div> -->
          <div class="card-body">
            <form method="post" action="">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-6">
                  {% if get_all_products %}
                  <div class="form-group">
                    <input type="text" name="sales_id" value="{{product_sold.id}}" style = "display:none;">
                    <label for="select2SinglePlaceholder" class="d-block"> select product</label>
                    <select class="select2-single-placeholder-product form-control" name="product_name"  id="select2SinglePlaceholderproduct1" style="width: 100%;padding:10px">
                      <option value="{{product_sold.product_name.id}}">{{product_sold.product_name}}</option>
                      {% for products in get_all_products %}
                      <option value="{{ products.id }}">{{products}}</option>
                      {% endfor %}
                    </select>
                  </div>
                  {% endif %}
                 <div class="form-group">
                   <label for="quantity" >Number of products nedeed</label>
                   <input type="number" name="number_of_product_nedeed" value ='{{product_sold.number_of_product_nedeed}}' class="form-control">
                 </div>
                 </div>
                 <div class="col-md-6">
                  <!-- <div class="form-group">
                    <label for="Supplier" >today  date</label>
                    <input type="date" name="date_product_sold"  value ="{{product_sold.date_product_sold}}" class="form-control">
                  </div> -->
                  {% if get_all_employee %}
                  <div class="form-group">
                    <label for="select2SinglePlaceholder" class="d-block"> select supervisor</label>
                    <select class="select2-single-placeholder-duka form-control" name="supervisor" id="select2SinglePlaceholderShopSupervisors" style="width: 100%;padding:10px">
                      <option value="{{product_sold.supervisor.id}}">{{product_sold.supervisor}}</option>
                      {% for user in get_all_employee %}
                      <option value="{{user.id}}">{{user}}</option>
                      {% endfor %}
                    </select>
                  </div>
                  {% endif %}
                   {% if get_all_shops %}
                  <div class="form-group">
                    <label for="select2SinglePlaceholder" class="d-block"> select Shop</label>
                    <select class="select2-single-placeholder-duka form-control" name="shop_name" id="select2SinglePlaceholderduka" style="width: 100%;padding:10px">
                      <option value="{{product_sold.shop_name.id}}">{{product_sold.shop_name}}</option>
                      {% for shop in get_all_shops %}
                      <option value="{{shop.id}}">{{shop}}</option>
                      {% endfor %}
                    </select>
                  </div>
                  {% endif %}
                   </div>
              

               <button type="submit" class="btn btn-outline-primary ml-3" name="update_sells" value="update_sells">update sales</button>
            
              </div>
             </form>
          </div>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
