<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>List of product</h1>
  
          <div class="table-responsive p-4">
           
            <table class="table table-md align-items-center table-flush table-hover" id="dataTableHover">
              <thead class="thead-light">
                <tr>
                  <th>#</th>
                  <th>Product Name</th>
                  <th>created since </th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                
                <tr>
                  <td>1</td>
                  <td><a href="#">Biscuti  nice 50g</a></td>
                                    
                  <td>Aug. 14, 2022, 10:16 a.m.</td>
                 
                  <td>
                    <a data-toggle="modal" data-target="#productDetailViewModale509610b-7909-4b3a-b21a-99246188e5e5" class="btn btn-sm btn-outline-primary text-primary"><i class="fas fas fa-eye"></i></a>
                    <a  data-toggle="modal" data-target="#updateproductModale509610b-7909-4b3a-b21a-99246188e5e5"
                    class="btn btn-sm btn-outline-warning"  ><i class="fas fas fas fa-pen"></i></a>
                    <a  data-toggle="modal" data-target="#deleteProductModal" class="btn btn-sm btn-outline-danger"><i class="fas fas fas far fa-trash-alt"></i></a>
                  </td>
                </tr>

               
                <tr>
                  <td>2</td>
                  <td><a href="#">Ungwa wa sembe  kg 600</a></td>
                                    
                  <td>Aug. 30, 2022, 5:27 p.m.</td>
                 
                  <td>
                    <a data-toggle="modal" data-target="#productDetailViewModal9b373678-976d-456d-a865-90a142e3614e" class="btn btn-sm btn-outline-primary text-primary"><i class="fas fas fa-eye"></i></a>
                    <a  data-toggle="modal" data-target="#updateproductModal9b373678-976d-456d-a865-90a142e3614e"
                    class="btn btn-sm btn-outline-warning"  ><i class="fas fas fas fa-pen"></i></a>
                    <a  data-toggle="modal" data-target="#deleteProductModal" class="btn btn-sm btn-outline-danger"><i class="fas fas fas far fa-trash-alt"></i></a>
                  </td>
                </tr>

               
                <tr>
                  <td>3</td>
                  <td><a href="#">Extension Cable</a></td>
                                    
                  <td>Sept. 6, 2022, 1:20 p.m.</td>
                 
                  <td>
                    <a data-toggle="modal" data-target="#productDetailViewModal1fad4866-3601-4f3b-b560-b720db71c9d3" class="btn btn-sm btn-outline-primary text-primary"><i class="fas fas fa-eye"></i></a>
                    <a  data-toggle="modal" data-target="#updateproductModal1fad4866-3601-4f3b-b560-b720db71c9d3"
                    class="btn btn-sm btn-outline-warning"  ><i class="fas fas fas fa-pen"></i></a>
                    <a  data-toggle="modal" data-target="#deleteProductModal" class="btn btn-sm btn-outline-danger"><i class="fas fas fas far fa-trash-alt"></i></a>
                  </td>
                </tr>

               
              </tbody>
            </table>
          </div>
  
</body>
</html>